		<% if(error){ %>
		<div class="alert alert-danger">
			<strong><%=error %></strong>
		</div>
		<% } %>
		<div class="footer text-center">
			<p>© Company 2013</p>
		</div>
	</div>
	<script>
		
	</script>
</body>
</html>