<% include /module/header %>
<% include /module/navbar %>
<div class="row">
	<% if(docs){ %>
	<% docs.forEach(function(item,index){ %>
	<p class="page-header">
	<%= item.title %>
 	 日期：<%= item.time.minute %>
	</p>
	<% }) %>
	<% } %>
</div>
<form method="post" enctype="multipart/form-data">
	<input type="file" name="photo">
	<button type="submit">submit</button>
</form>

<% include /module/footer %>